.header {
    background-image: url(../../images/mobile/bg-header-mobile.png);
    background-position: center;
    background-repeat: no-repeat; 
}
.navigation {
    display: flex;
    justify-content: space-around;
}
.modal-btn_white {
    display: none;
}