/*
 * Все паршалы импортировать в этот файл
 */

@import 'normalize.scss';
@import './Helpers/variables';
@import 'base.scss';
@import './Helpers/fonts';
@import './Helpers/mixins';

@import './Components/container.scss';
@import './Components/modal-btn';
@import './Components/logo';
@import './Components/why';
@import './Components/slick-slider/slick';
@import './Components/slick-slider/slick-theme';
@import './Components/slick-slider/slider';
