@mixin font-black($fs, $fw, $lh) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  font-family: $main-font;
  color: $fourth-color;
}

@mixin font-grey($fs, $fw, $lh) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  font-family: $main-font;
  color: $fifth-color;
}

@mixin font-black-medium($fs, $fw, $lh) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  font-family: $main-font;
  color: $fifth-color;
}

@mixin font-orange($fs: NULL, $fw: NULL, $lh: NULL) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  font-family: $main-font;
  color: $third-color;
}

@mixin secion-title($fs, $fw, $lh) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  font-family: $main-font;
  color: $main-color;
}

@mixin section-title_white($fs, $fw, $lh) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  font-family: $main-font;
  color: $secondary-color;
}

@mixin pseudo {
  content: '';
  display: block;
  width: 25px;
  height: 2px;
  background-color: $third-color;
}

@mixin for-size($size) {
  @if $size==mobile {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $size==tablet {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $size==max-desktop {
    @media (max-width: 1279px) {
      @content;
    }
  } @else if $size==desktop {
    @media (min-width: 1280px) {
      @content;
    }
  } @else if $size==hd-desktop {
    @media (min-width: 1680px) {
      @content;
    }
  }
}
