$main-font: Montserrat, sans-serif;
$secondary-font: 'Tahoma', sans-serif;
$main-color: #18191d;
$secondary-color: #ffffff;
$third-color: #ff6b08;
$fourth-color: #111517;
$fifth-color: #858585;

//slider
$slider-bg: #f9f9f9;
