.slick-slider {
  padding-top: 22px;
  padding-bottom: 58px;
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: none;
  text-align: center;
  margin-bottom: 18px;
}
