.contacts {
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 10px;
  padding-top: 34px;

  &__logo-wrapper {
    margin: 0 auto;
  }
  &__social {
    width: 37px;
    height: 37px;
    margin: 0 auto;
    position: relative;
    // position: absolute;
    left: 0px;
    top: 0px;
  }
  &__phone-number {
    // text-decoration: none;
    color: $fourth-color;
  }
  &__phone-wrap {
    position: relative;
  }
  .phone-icon {
    fill: #ff6b08;
    width: 25px;
    height: 25px;
    position: absolute;
    left: -28px;
    top: 0;
  }
  &__phone {
    margin-bottom: 25px;
    font-family: $main-font;
    font-size: 18px;
    font-weight: 600;
    color: $fourth-color;
    letter-spacing: 0.6px;
    padding-left: 14px;
  }
  &__items {
    margin-bottom: 20px;
    width: 280px;
  }
}

@media (min-width: 768px) {
  .container {
    margin: 0 auto;
  }
  .contacts {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .contacts__logo-wrapper {
    margin: 0;
    margin-right: 120px;
    padding-left: 22px;
  }
  .contacts__items {
    margin-bottom: 0px;
    width: 463px;
    display: flex;
  }
  .contacts__phone {
    margin-bottom: 0px;
    padding-top: 10px;
    margin-right: 56px;
    display: flex;
    font-size: 20px;
  }
  .contacts__social {
    margin: 0;
  }
  .phone-icon {
    width: 25px;
    height: 25px;
    left: -20px;
    top: 11px;
  }
  .contacts__phone::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 29px;
    background-color: #e0e0e0;
    top: 3px;
    left: 265px;
  }
  .site-logo {
    transform: scale(1.7);
  }
}
@media (min-width: 1280px) {
  .contacts__phone {
    font-size: 28px;
    margin-right: 60px;
    line-height: 0.7;
  }
  .contacts__logo-wrapper {
    margin: 0;
    margin-right: 309px;
  }
  .phone-icon {
    width: 40px;
    height: 40px;
    left: -39px;
    top: 6px;
  }
  .contacts {
    padding-top: 51px;
    padding-bottom: 55px;
  }
  .site-logo {
    transform: scale(1.7);
    line-height: 2.2;
  }
  .contacts__phone::after {
    top: 5px;
    left: 346px;
  }
  @media (min-width: 1680px) {
    .contacts__logo-wrapper {
      margin-right: 366px;
      padding-left: 32px;
    }
    .phone-icon {
      left: -43px;
      top: 8px;
    }
  }
}
