.container {
  //   background-color: #f9f9f9;
  width: 280px;
  margin: 0 auto;
  @media (min-width: 768px) {
    width: 688px;
  }
  @media (min-width: 1280px) {
    width: 1210px;
  }
  @media (min-width: 1680px) {
    width: 1340px;
  }
}
