.guarantee {
  &__title {
    text-align: center;
  }
  &__wrap {
    font-size: 11px;
    line-height: 20px;
    margin: 0 auto;
    @include for-size(tablet) {
      max-width: 688px;
    }
    @include for-size(tablet) {
      max-width: 1210px;
      background-color: #f9f9f9;
    }
  }
  &__title {
    margin-bottom: 30px;
    @include title-font-size;
  }
  &__item:not(:last-child) {
    padding-bottom: 28px;
  }
  &__item {
    position: relative;
    padding-left: 37px;
    &:not(:last-child)::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      height: 100%;
      border-left: 1px dotted rgb(186, 186, 186);
    }
    &::after {
      position: absolute;
      content: '';
      width: 13px;
      height: 18px;
      background-image: url('../images/icons/logo.svg');
      background-repeat: no-repeat;
      fill: #f1f1f1;
      top: 0px;
      left: -5px;
    }
  }
  &__list {
    padding-top: 25px;
    padding-bottom: 51px;
    margin: 0 auto;
    @include for-size(tablet) {
      letter-spacing: 0.55px;

      max-width: 550px;
    }
    @include for-size(desktop) {
      font-size: 18px;
      max-width: 959px;
    }
  }
}

// .picture {
//   width: 279px;
//   height: 214px;
//   background-image: url('../img/mobile.png');
//   background-repeat: no-repeat;
// }

// .about li {
//   background: url('../img/icon/check.png') no-repeat 0 1px;
//   padding-left: 24px;
// }

// .name {
//   line-height: 40px;
//   border-bottom: 1px solid #d1d1d1;
//   margin-top: 0;
// }

// .about p:nth-child(n + 3) {
//   color: #a6a6a6;
// }

// .link {
//   color: rgb(255, 107, 8);
// }

// .garant {
//   text-align: center;
//   margin: 0 0 33px 0;
// }

// .about {
//   margin-bottom: 55px;
// }

// .boxi {
//   display: flex;
//   height: 418px;
//   flex-direction: column;
//   justify-content: space-around;
// }

// .box li {
//   background: url('../img/icon/fire.png') no-repeat 0 1px;
//   padding-left: 50px;
// }

// .span {
//   color: rgb(255, 107, 8);
// }

// .box {
//   background-color: rgb(241, 241, 241);
// }

// @media (min-width: 768px) {
//   .girl {
//     display: flex;
//   }

//   .picture {
//     width: 247px;
//     height: 321px;
//     background-image: url('../img/tablet.png');
//     background-repeat: no-repeat;
//     flex-shrink: 0;
//     margin-right: 48px;
//   }

//   .about {
//     margin-bottom: 66px;
//   }

//   .boxi {
//     padding: 40px;
//   }
// }

// @media (min-width: 960px) {
//   .picture {
//     width: 494px;
//     height: 644px;
//     background-image: url('../img/Girl.png');
//     background-repeat: no-repeat;
//     flex-shrink: 0;
//     margin-right: 48px;
//   }

//   .about {
//     display: flex;
//     justify-content: space-between;
//     flex-direction: column;
//   }

//   .girl {
//     margin-bottom: 96px;
//   }

//   .boxi li {
//     line-height: 2em;
//   }

//   .boxi {
//     padding: 55px 117px;
//   }
// }
