.site-logo {
  display: flex;
  flex-wrap: wrap;
  max-width: 86px;
  font-family: $main-font;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 800;
  vertical-align: 1.25px;
  color: black;
  align-items: center;
  justify-content: center;
  &_header {
    &_active {
      color: $secondary-color;
    }
  }

  &__img {
    width: 21px;
    height: 30px;
  }

  &__desc {
    margin-top: -6px;
    font-size: 6px;
    line-height: 1.2;
    font-weight: 700;
    vertical-align: 0.689px;
    text-transform: uppercase;
  }
}
