.modal-btn {
    width: 246px;
    height: 44px;
    border: 2px solid rgb(255, 107, 8);
    background-color: rgb(255, 107, 8);
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 11px;
    &_white {
        @media (min-width: 1280px) {
            font-size: 12px;
            letter-spacing: 1px;
        }
    }
    @media (min-width: 1280px) {
        width: 304px;
        height: 72px;
        font-size: 12px;
        letter-spacing: 1px;
    }
    @media (min-width: 1680px) {
        font-size: 14px;
        width: 354px;
        letter-spacing: 3px;

    }
}  
