.programm {
  padding-top: 50px;
  padding-bottom: 36px;
  background-color: $fourth-color;
  position: relative;
  z-index: 10;

  @include for-size(tablet) {
    padding-top: 68px;
    padding-bottom: 38px;
  }

  &-img {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: -88px;
    background-image: url(../images/mobile/bg-our-program-mobile.jpg);
    background-repeat: no-repeat;
    width: 143px;
    height: 172px;
  }

  @include for-size(tablet) {
    background-image: url(../images/tablet/bg-our-program-tablet.jpg);
    bottom: 0px;
    width: 406px;
    height: 282px;
  }

  &-wrapper {
    max-width: 210px;
    margin-left: auto;
    margin-right: auto;
  }

  &-title {
    font-size: 20px;
    line-height: 33px;
    font-weight: 800;
    letter-spacing: 1px;
    padding-bottom: 38px;
    color: $secondary-color;
  }

  &-list {
    position: relative;
    counter-reset: programm-box;
    max-width: 100%;
    margin-left: 22px;

    &::before {
      content: '';
      position: absolute;
      width: 2px;
      height: 93%;
      left: 0;
      top: 14px;
      transform: translateX(-50%);
      background-color: $fifth-color;
    }

    &__item {
      position: relative;
      counter-increment: programm-box;
      padding-left: 30px;

      &:not(:last-child) {
        padding-bottom: 35px;
      }

      &::before {
        content: counter(programm-box) ' семестр';
        color: $secondary-color;
        font-size: 14px;
        letter-spacing: 1.65px;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 26px;
      }

      &::after {
        content: '';
        position: absolute;
        top: 5px;
        left: 0;
        border-radius: 50%;
        background-color: $third-color;
        width: 10px;
        height: 10px;
        transform: translateX(-50%);
      }
    }
  }
}

.semestr-list {
  &__name {
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 1.2;
    letter-spacing: 0.65px;
    margin-top: 26px;
    margin-bottom: 22px;

    &::before {
      @include pseudo;
      margin-right: 12px;
    }
  }

  &__desc {
    font-size: 11px;
    line-height: 1.2;
    color: $fifth-color;
    opacity: 50%;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}
