.why {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient($fourth-color 322px, $secondary-color 322px);

  @include for-size(tablet) {
    padding-top: 68px;
    padding-bottom: 30px;
  }

  &__span {
    @include for-size(mobile) {
      max-width: 142px;
    }

  }

  &__title {
    color: $secondary-color;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    font-weight: 800;


    @include for-size(tablet) {
      text-align: center;
    }
  }

  &__list {
    position: relative;
    z-index: 100;
    background-color: $secondary-color;
    max-width: 280px;
    padding: 28px;
    box-shadow: 4px 6.928px 15.54px 5.46px rgba(29, 29, 27, 0.04);
    counter-reset: why-box;

    @include for-size(tablet) {
      display: flex;
      flex-wrap: wrap;
      max-width: 688px;
      justify-content: space-between;
      padding: 32px 92px 28px 98px;
    }
  }

  &__item {
    counter-increment: why-box;
    position: relative;
    letter-spacing: 0.7px;

    &:not(:last-child) {
      padding-bottom: 24px;
    }

    @include for-size(tablet) {
      flex: 0 0 218px;
    }

    &::before {
      @include pseudo;
    }

    &::after {
      content: '0'counter(why-box);
      color: $third-color;
      position: absolute;
      top: 1px;
      left: 36px;
      transform: translateY(-50%);
      font-size: 14px;
      line-height: 29px;
      font-weight: 500;
    }
  }

  &__desc {
    padding-top: 20px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;



  }


}
